Ticket ID,Category,Status,Resolution Time,CSAT
TCK001,Hardware,Resolved,4,4
TCK002,Software,Resolved,3,5
TCK003,Network,Open,10,3
TCK004,Software,Resolved,2,4
TCK005,Hardware,Resolved,5,3
TCK006,Hardware,Open,8,2
TCK007,Network,Resolved,6,4
TCK008,Software,Open,12,2
TCK009,Hardware,Resolved,3,5
TCK010,Software,Resolved,4,5
TCK011,Software,Resolved,2,5
TCK012,Network,Resolved,5,4
TCK013,Hardware,Open,9,2
TCK014,Software,Open,11,2
TCK015,Hardware,Resolved,4,4
TCK016,Hardware,Resolved,3,5
TCK017,Software,Open,8,2
TCK018,Network,Resolved,6,4
TCK019,Hardware,Resolved,5,3
TCK020,Software,Open,9,2
TCK021,Software,Resolved,4,5
TCK022,Network,Open,12,2
TCK023,Hardware,Resolved,2,4
TCK024,Software,Resolved,5,4
TCK025,Hardware,Open,7,3
TCK026,Hardware,Resolved,3,5
TCK027,Software,Open,10,2
TCK028,Network,Resolved,5,4
TCK029,Hardware,Resolved,4,5
TCK030,Software,Resolved,2,5
TCK031,Software,Resolved,6,4
TCK032,Network,Open,8,2
TCK033,Hardware,Resolved,3,5
TCK034,Hardware,Open,11,2
TCK035,Software,Resolved,4,5
TCK036,Hardware,Resolved,5,4
TCK037,Software,Open,7,2
TCK038,Network,Resolved,6,4
TCK039,Hardware,Resolved,2,4
TCK040,Software,Open,10,2
TCK041,Hardware,Resolved,3,5
TCK042,Software,Resolved,4,5
TCK043,Network,Open,9,3
TCK044,Hardware,Resolved,1,5
TCK045,Hardware,Resolved,6,4
TCK046,Software,Open,8,2
TCK047,Network,Resolved,5,4
TCK048,Hardware,Resolved,4,5
TCK049,Software,Resolved,2,5
TCK050,Software,Resolved,5,4
TCK051,Network,Open,7,2
TCK052,Hardware,Resolved,3,5
TCK053,Hardware,Open,11,2
TCK054,Software,Resolved,4,5
TCK055,Hardware,Resolved,5,4
TCK056,Software,Open,6,2
TCK057,Network,Resolved,6,4
TCK058,Hardware,Resolved,2,4
TCK059,Software,Open,9,2
TCK060,Hardware,Resolved,3,5
TCK061,Software,Resolved,4,5
TCK062,Network,Open,10,3
TCK063,Hardware,Resolved,1,5
TCK064,Hardware,Resolved,6,4
TCK065,Software,Open,8,2
TCK066,Network,Resolved,5,4
TCK067,Hardware,Resolved,4,5
TCK068,Software,Resolved,2,5
TCK069,Software,Resolved,5,4
TCK070,Network,Open,7,2
TCK071,Hardware,Resolved,3,5
TCK072,Hardware,Open,11,2
TCK073,Software,Resolved,4,5
TCK074,Hardware,Resolved,5,4
TCK075,Software,Open,6,2
TCK076,Network,Resolved,6,4
TCK077,Hardware,Resolved,2,4
TCK078,Software,Open,9,2
TCK079,Hardware,Resolved,3,5
TCK080,Software,Resolved,4,5
TCK081,Network,Open,10,3
TCK082,Hardware,Resolved,1,5
TCK083,Hardware,Resolved,6,4
TCK084,Software,Open,8,2
TCK085,Network,Resolved,5,4
TCK086,Hardware,Resolved,4,5
TCK087,Software,Resolved,2,5
TCK088,Software,Resolved,5,4
TCK089,Network,Open,7,2
TCK090,Hardware,Resolved,3,5
TCK091,Hardware,Open,11,2
TCK092,Software,Resolved,4,5
TCK093,Hardware,Resolved,5,4
TCK094,Software,Open,6,2
TCK095,Network,Resolved,6,4
TCK096,Hardware,Resolved,2,4
TCK097,Software,Open,9,2
TCK098,Hardware,Resolved,3,5
TCK099,Software,Resolved,4,5
TCK100,Network,Open,10,3
TCK101,Hardware,Resolved,1,5
TCK102,Hardware,Resolved,6,4
TCK103,Software,Open,8,2
TCK104,Network,Resolved,5,4
TCK105,Hardware,Resolved,4,5
TCK106,Software,Resolved,2,5
TCK107,Software,Resolved,5,4
TCK108,Network,Open,7,2
TCK109,Hardware,Resolved,3,5
TCK110,Hardware,Open,11,2
TCK111,Software,Resolved,4,5
TCK112,Hardware,Resolved,5,4
TCK113,Software,Open,6,2
TCK114,Network,Resolved,6,4
TCK115,Hardware,Resolved,2,4
TCK116,Software,Open,9,2
TCK117,Hardware,Resolved,3,5
TCK118,Software,Resolved,4,5
TCK119,Network,Open,10,3
TCK120,Hardware,Resolved,1,5
TCK121,Hardware,Resolved,6,4
TCK122,Software,Open,8,2
TCK123,Network,Resolved,5,4
TCK124,Hardware,Resolved,4,5
TCK125,Software,Resolved,2,5
TCK126,Software,Resolved,5,4
TCK127,Network,Open,7,2
TCK128,Hardware,Resolved,3,5
TCK129,Hardware,Open,11,2
TCK130,Software,Resolved,4,5
TCK131,Hardware,Resolved,5,4
TCK132,Software,Open,6,2
TCK133,Network,Resolved,6,4
TCK134,Hardware,Resolved,2,4
TCK135,Software,Open,9,2
TCK136,Hardware,Resolved,3,5
TCK137,Software,Resolved,4,5
TCK138,Network,Open,10,3
TCK139,Hardware,Resolved,1,5
TCK140,Hardware,Resolved,6,4
TCK141,Software,Open,8,2
TCK142,Network,Resolved,5,4
TCK143,Hardware,Resolved,4,5
TCK144,Software,Resolved,2,5
TCK145,Software,Resolved,5,4
TCK146,Network,Open,7,2
TCK147,Hardware,Resolved,3,5
TCK148,Hardware,Open,11,2
TCK149,Software,Resolved,4,5
TCK150,Hardware,Resolved,5,4
TCK151,Software,Open,6,2
TCK152,Network,Resolved,6,4
TCK153,Hardware,Resolved,2,4
TCK154,Software,Open,9,2
TCK155,Hardware,Resolved,3,5
TCK156,Software,Resolved,4,5
TCK157,Network,Open,10,3
TCK158,Hardware,Resolved,1,5
TCK159,Hardware,Resolved,6,4
TCK160,Software,Open,8,2
TCK161,Network,Resolved,5,4
TCK162,Hardware,Resolved,4,5
TCK163,Software,Resolved,2,5
TCK164,Software,Resolved,5,4
TCK165,Network,Open,7,2
TCK166,Hardware,Resolved,3,5
TCK167,Hardware,Open,11,2
TCK168,Software,Resolved,4,5
TCK169,Hardware,Resolved,5,4
TCK170,Software,Open,6,2
TCK171,Network,Resolved,6,4
TCK172,Hardware,Resolved,2,4
TCK173,Software,Open,9,2
TCK174,Hardware,Resolved,3,5
TCK175,Software,Resolved,4,5
TCK176,Network,Open,10,3
TCK177,Hardware,Resolved,1,5
TCK178,Hardware,Resolved,6,4
TCK179,Software,Open,8,2
TCK180,Network,Resolved,5,4
TCK181,Hardware,Resolved,4,5
TCK182,Software,Resolved,2,5
TCK183,Software,Resolved,5,4
TCK184,Network,Open,7,2
TCK185,Hardware,Resolved,3,5
TCK186,Hardware,Open,11,2
TCK187,Software,Resolved,4,5
TCK188,Hardware,Resolved,5,4
TCK189,Software,Open,6,2
TCK190,Network,Resolved,6,4
TCK191,Hardware,Resolved,2,4
TCK192,Software,Open,9,2
TCK193,Hardware,Resolved,3,5
TCK194,Software,Resolved,4,5
TCK195,Network,Open,10,3
TCK196,Hardware,Resolved,1,5
TCK197,Hardware,Resolved,6,4
TCK198,Software,Open,8,2
TCK199,Network,Resolved,5,4
TCK200,Hardware,Resolved,4,5
TCK201,Software,Resolved,2,5
TCK202,Software,Resolved,5,4
TCK203,Network,Open,7,2
TCK204,Hardware,Resolved,3,5
TCK205,Hardware,Open,11,2
TCK206,Software,Resolved,4,5
TCK207,Hardware,Resolved,5,4
TCK208,Software,Open,6,2
TCK209,Network,Resolved,6,4
TCK210,Hardware,Resolved,2,4
TCK211,Software,Open,9,2
TCK212,Hardware,Resolved,3,5
TCK213,Software,Resolved,4,5
TCK214,Network,Open,10,3
TCK215,Hardware,Resolved,1,5
TCK216,Hardware,Resolved,6,4
TCK217,Software,Open,8,2
TCK218,Network,Resolved,5,4
TCK219,Hardware,Resolved,4,5
TCK220,Software,Resolved,2,5
TCK221,Software,Resolved,5,4
TCK222,Network,Open,7,2
TCK223,Hardware,Resolved,3,5
TCK224,Hardware,Open,11,2
TCK225,Software,Resolved,4,5
TCK226,Hardware,Resolved,5,4
TCK227,Software,Open,6,2
TCK228,Network,Resolved,6,4
TCK229,Hardware,Resolved,2,4
TCK230,Software,Open,9,2
TCK231,Hardware,Resolved,3,5
TCK232,Software,Resolved,4,5
TCK233,Network,Open,10,3
TCK234,Hardware,Resolved,1,5
TCK235,Hardware,Resolved,6,4
TCK236,Software,Open,8,2
TCK237,Network,Resolved,5,4
TCK238,Hardware,Resolved,4,5
TCK239,Software,Resolved,2,5
TCK240,Software,Resolved,5,4
TCK241,Network,Open,7,2
TCK242,Hardware,Resolved,3,5
TCK243,Hardware,Open,11,2
TCK244,Software,Resolved,4,5
TCK245,Hardware,Resolved,5,4
TCK246,Software,Open,6,2
TCK247,Network,Resolved,6,4
TCK248,Hardware,Resolved,2,4
TCK249,Software,Open,9,2
TCK250,Hardware,Resolved,3,5
TCK251,Software,Resolved,4,5
TCK252,Network,Open,10,3
TCK253,Hardware,Resolved,1,5
TCK254,Hardware,Resolved,6,4
TCK255,Software,Open,8,2
TCK256,Network,Resolved,5,4
TCK257,Hardware,Resolved,4,5
TCK258,Software,Resolved,2,5
TCK259,Software,Resolved,5,4
TCK260,Network,Open,7,2
TCK261,Hardware,Resolved,3,5
TCK262,Hardware,Open,11,2
TCK263,Software,Resolved,4,5
TCK264,Hardware,Resolved,5,4
TCK265,Software,Open,6,2
TCK266,Network,Resolved,6,4
TCK267,Hardware,Resolved,2,4
TCK268,Software,Open,9,2
TCK269,Hardware,Resolved,3,5
TCK270,Software,Resolved,4,5
TCK271,Network,Open,10,3
TCK272,Hardware,Resolved,1,5
TCK273,Hardware,Resolved,6,4
TCK274,Software,Open,8,2
TCK275,Network,Resolved,5,4
TCK276,Hardware,Resolved,4,5
TCK277,Software,Resolved,2,5
TCK278,Software,Resolved,5,4
TCK279,Network,Open,7,2
TCK280,Hardware,Resolved,3,5
TCK281,Hardware,Open,11,2
TCK282,Software,Resolved,4,5
TCK283,Hardware,Resolved,5,4
TCK284,Software,Open,6,2
TCK285,Network,Resolved,6,4
TCK286,Hardware,Resolved,2,4
TCK287,Software,Open,9,2
TCK288,Hardware,Resolved,3,5
TCK289,Software,Resolved,4,5
TCK290,Network,Open,10,3
TCK291,Hardware,Resolved,1,5
TCK292,Hardware,Resolved,6,4
TCK293,Software,Open,8,2
TCK294,Network,Resolved,5,4
TCK295,Hardware,Resolved,4,5
TCK296,Software,Resolved,2,5
TCK297,Software,Resolved,5,4
TCK298,Network,Open,7,2
TCK299,Hardware,Resolved,3,5
TCK300,Hardware,Open,11,2