import preswald

def main():
    preswald.text("Hello, World!")
    preswald.text("This is a template for your Preswald app.")
    preswald.text("Edit this file to create your app.")

if __name__ == "__main__":
    main()
